{
	email {$ACME_EMAIL:admin@localhost}
}

{$DOMAIN:localhost} {
	encode gzip
	request_body /api/* {
		max_size 50MB
	}
	handle /api/* {
		reverse_proxy api:3001
	}
	handle {
		reverse_proxy web:3000
	}
}
